body{
font-family:Arial,Helvetica,sans-serif;
background-color: lightblue;
}
h1{
border:5px dotted red;
}

div{
border:5px blue solid;
margin:1rem
}
.box1{
border-color:orange;
background-color:#ffcc00;
}
.box2 p{
border:2px solidgreen;

margin:0;
}
.box3{
background-image:url(http://placekitten.com/200/300);
height:30rem;
}
nav ul
{
list-style-type:none;

padding:0;
margin:1rem;
}
nav li{
border:3px solidyellow;
width:5rem;
background-color:red;
text-align:center;
margin-bottom:3rem;

display:inline-block;
}
nav a{
border:5px solid white;
font-size:1.5rem;
color:black;
display:block;
padding:1rem;
}
nav a:hover{
background-color:white;
color:red;
}
.floatleft{
float:left;

/*TRBL*/

margin:0 1rem 1rem 0;
}
article{
width:50rem;
border:10px solid red;
margin:0 auto;
}
.floatright{
float:right;

}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.border{
border:2px solid #42352c;
border-radius:100px;
}
.border2{
border:2px solid #42352c;
border-top-left-radius:3rem;
border-top-right-radius:3rem;
border-bottom-left-radius:3rem;
border-bottom-right-radius:3rem;
}



